In [1]:
import pandas as pd

In [5]:
Content = pd.read_csv("E://Project//Internship Record//Content (1)-1.csv")

In [6]:
Content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [7]:
Content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [10]:
Location = pd.read_csv("E://Project//Internship Record//Location (1).csv")

In [11]:
Location.head()

,User ID,Address
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"6208 Wright Mountains\nBryantfurt, AR 02531"
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,"534 Williams Turnpike Suite 788\nPort Julie, W..."
2,a8229d24-f219-4930-a382-24049a8f73bb,"867 Lisa Causeway Apt. 015\nWest Brentmouth, A..."
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"5687 Wilson Harbors Suite 763\nLake Robert, FL..."
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Unit 2614 Box 8996\nDPO AE 23660

In [13]:
Location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   User ID  500 non-null    object
 1   Address  500 non-null    object
dtypes: object(2)
memory usage: 7.9+ KB

In [18]:
Profile = pd.read_csv("E:\Project\Internship Record\Profile (1).csv")

In [19]:
Profile.head()

,User ID,Interests,Age
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23
2,a8229d24-f219-4930-a382-24049a8f73bb,"['fitness', 'cooking', 'animals', 'travel']",25
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44

In [20]:
Profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User ID    500 non-null    object
 1   Interests  500 non-null    object
 2   Age        500 non-null    int64
dtypes: int64(1), object(2)
memory usage: 11.8+ KB

In [21]:
Reaction = pd.read_csv("E:\Project\Internship Record\Reactions (1).csv")

In [22]:
Reaction.head()

,Content ID,User ID,Type,Date
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-7
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-6-17
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-4-18
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-1-6
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-8-23

In [25]:
Reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22534 entries, 0 to 22533
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Date        22534 non-null  object
dtypes: object(4)
memory usage: 704.3+ KB

In [26]:
ReactionType = pd.read_csv("E:\Project\Internship Record\ReactionTypes (1).csv")

In [27]:
ReactionType.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [28]:
ReactionType.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [29]:
Session = pd.read_csv("E:\Project\Internship Record\Session (1).csv")

In [30]:
Session.head()

                                User ID     Device  Duration
0  4c731e48-0377-4d7d-b4c8-b2174b774ed8  Microsoft        11
1  95258c36-5b6b-4591-85ee-0c43f503c1d5      Apple        51
2  a8229d24-f219-4930-a382-24049a8f73bb        HTC        25
3  8f41c07f-db4f-44f3-ae81-1f99cee047eb   Motorola        68
4  3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9     Huawei        57

In [31]:
Session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User ID   500 non-null    object
 1   Device    500 non-null    object
 2   Duration  500 non-null    int64
dtypes: int64(1), object(2)
memory usage: 11.8+ KB

In [34]:
User = pd.read_csv("E://Project//Internship Record//User (1).csv")

In [35]:
User.head()

                                User ID             Name         Email
0  4c731e48-0377-4d7d-b4c8-b2174b774ed8        Gary Hill  GHbnuothhymw
1  95258c36-5b6b-4591-85ee-0c43f503c1d5  Michael Deering  MD@gmail.com
2  a8229d24-f219-4930-a382-24049a8f73bb     Richard Bain  RB@gmail.com
3  8f41c07f-db4f-44f3-ae81-1f99cee047eb  Kristi Mccarthy  KM@gmail.com
4  3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9      Betty Ellis  BE@gmail.com

In [36]:
User.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   User ID  500 non-null    object
 1   Name     500 non-null    object
 2   Email    500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB